{% load static %}
<section>
    <div class="container mt-4">
        <h2 class="text-center mb-5">Hemophilia Treatment Center Uttar Pradesh</h2>
        <!--Uttar-Pradesh-UP-Hindi-Map-political-district-wise-map-->
        <div class="row mb-4">
           <div class="col-md-8 text-center mb-2">
                <img class="w-100" src="{% static 'images/hemophilia/Uttar-Pradesh-UP-Hindi-Map-political-district-wise-map.webp' %}" alt="Hemophilia Treatment Center Uttar Pradesh" loading="lazy">
           </div>
           <div class="col-md-4">
                <div>
                    <h1 class="fs-6 text-success">Presently factors are available in the follwing cities of Uttar Pradesh <span>वर्तमान में उत्तर प्रदेश के निम्नलिखित शहरों में फैक्टर उपलब्ध हैं</span> </h1>
                    <ul>
                        {% for c in city %}
                        <li class="factor"><a  class="text-decoration-none" href="{% url 'city' city_slug=c.slug city_id=c.id %}">{{c.city_name}}</a>
                            <script>
                                var count = 0;
                            </script>
                        {% for t in for_city_counter %}
                            {% if c.id == t.city_id %}
                            <script>
                                count++;
                            </script>
                            {% endif %}
                        {% endfor %}
                        <script>document.write("("+count+")")</script>
                        </li>
                        {% endfor %}
                    </ul>  
                </div>
           </div>
           {% comment %} <div class="col-md-3">
            <div>
                <h1 class="fs-6 text-success">Factor availability</h1>
                <ul>
                    {% for f in all_factor %}
                    <li class="factor">{{f.factor_name}}</li>
                    {% endfor %}
                </ul>  
            </div> {% endcomment %}
        </div><hr>


        <h2 class="mb-3">Factor availability</h2>
        {% if objects %}
        {% for i in objects %}
        <div class="d-flex justify-content-center align-items-center">
            <div class="col-md-12">
                <div class="card mb-4">
                    <div class="p-1">
                        <div class="row">
                            {% if i.image %}
                            <div class="col-md-3">
                                <img class="w-100" src="{% if i.image %}{{i.image.url}}{% endif %}" alt="{{i.doctor_name}}" loading="lazy">
                            </div>
                            <div class="col-md-9">
                            {% else %}
                            <div class="col-md-12">
                            {% endif %}
                                <table class="table table-bordered mb-0" style="font-size:14px">
                                    {% if i.doctor_name %}<tr><th>Dr.Name</th><td>{{i.doctor_name}}</td></tr>{% endif %}
                                    {% if i.room_no %}<tr><th>Room No.</th><td>{{i.room_no}}</td></tr>{% endif %}
                                    <tr>
                                        <th>Hospital Name</th>
                                        <td>
                                            {% if i.url %}
                                            <a title="click on go to URL" target="_blank" class="text-decoration-none" href="{{i.url}}">{{i.hospital_name}}</a>
                                            {% else %}
                                            {{i.hospital_name}}
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>City</th>
                                        <td>{{i.city}}</td>
                                    </tr>
                                    <tr>
                                        <th>Factor</th>
                                        <td>
                                        {% for f in factors %}
                                            {% if i.id == f.treatment_center_id %}
                                                <span class="factor-section mx-1">{{f.factor}}, </span>
                                            {% endif %}
                                        {% endfor %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Status</th>
                                        <td>
                                            {% if i.status == 1 %}
                                                <span class="text-white bg-success p-1 rounded-1">Available</span>
                                            {% elif i.status == 0 %}
                                            <span class="text-white bg-danger p-1 rounded-1">Not Available</span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <h2 class="text-center">Not found any treatment center</h2>
        {% endif %}
        <!--pagination-->
        {% include 'pagination.html' %}
    </div>
</section>