/* @import url('../font/Poppins-Regular.ttf'); */

body{
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
	overflow-x: hidden;
	background: url('/images/pattern.png');
}
.nav_btn{
    padding: 10px;
	color: #f8f9fa !important;
}
.nav_btn:hover{
	background-color: #000;
	color: #fff !important;
    padding: 10px;
}

.hemo_doctors{
	display: flex;
	width: 100%;
	background: linear-gradient(to top left, #784a92 0%, #3e2449 100%);
	border-top-left-radius: 75px;
    border-bottom-left-radius: 75px;
}

.hemo_doctor_img{
	border-radius: 50%;
}
.hemo_detail{
	padding: 10px;
	line-height: 5px;
}
.news_url:hover{
	color: #784a92 !important;
}
iframe{
	width: 100% !important;
}

.social-media-link{
	background-color: #fff;
    border-radius: 50%;
}

.youtube_detail iframe{
	width: 100% !important
}
.youtube_recent iframe{
	width: 50px;
	height: 50px;

}

/* owl prev and next button hidden*/
.owl-theme .owl-nav.disabled+.owl-dots {
    visibility: hidden !important;
}
