{% extends 'base.html' %}
{% load static %}
{% block title %}About us | {{site_name}}{% endblock %}
{% block content %}

<section>
    <div class="container py-4">
        <h2 class="text-center mb-5" style="font-family: initial;">About Hemophilia Society Lucknow</h2>

        {% comment %} <figure class="text-center mt-5">
            <img src="{% static 'images/hemophilia1.jpg' %}" alt="">
        </figure> {% endcomment %}

        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div style="text-align:justify">
                    <h3 class="text-danger fw-bold">What is Hemophilia.</h3>
                    <p>
                        Hemophilia is usually a rare X - linked bleeding disorder, characterized by a deficiency of a component of blood called factor VIII or IX. Persons suffering from it have prolonged bleeding. It is due to the absence of certain blood clotting factors in the blood. Bleeding may be after an injury or spontaneously. Normally bleeding occurs in joints, muscles and other internal organs of the body and the patient with hemophilia bleeds for a much longer duration in comparison to a normal person and affects the functioning of various organs of the body.
                    </p>
                    <p>
                        Hemophilia is a lifelong incurable but it is very well manageable if proper methodological information and adequate use of Anti Hemophilia Factor (AHF). 
                    </p>
                    <p>
                        Hemophilia is an inherited rare bleeding disorder but also caused by a mutation or change, in one of the genes, that provides instructions for making the clotting factor proteins needed to form a blood clot. This change or mutation can prevent the clotting protein from working properly. These genes are located on the X chromosome.
                    </p>

                    <div class="w-100 text-center">
                        <img src="{% static 'images/success-key.JPG' %}" alt="hemophilia">
                    </div>
                    
                    <h3 class="text-danger fw-bold">Symptoms of Hemophilia</h3>
                    <p>
                        Symptoms of Hemophilia depend on the severity of your factor deficiency. People with a mild deficiency may bleed in the case of trauma. People with a severe deficiency may bleed for no reason. blood in the urine.
                    </p>
                    <ul>
                        <li>Deep bruises</li>
                        <li>Large, unexplained bruises</li>
                        <li>Bleeding gums</li>
                        <li>Bleed/ Swelling in any joint</li>
                        <li>Blood in the stool</li>
                    </ul>

                    <h3 class="text-danger fw-bold">Types of Hemophilia</h3>
                    <p>
                        Bleeding disorders are treated differently depending on what protein is missing in the blood. Hemophilia is one of the most common bleeding disorders and is classified as follows:
                    </p>
                    <ul>
                        <li><strong>Hemophilia A</strong> – Caused due to lack of the blood clotting factor VIII, mostly (85%) of the person with hemophilia are found with such type of hemophilia.</li>
                        <li><strong>Hemophilia B</strong> – Caused due to lack of the blood clotting factor iX, mostly (85%) of the person with hemophilia are found with such type of hemophilia. </li>
                        <li><strong>Von Willebrand disease</strong>  – A part of the factor VIII molecule known as von Willebrand factor or ristocetin cofactor is reduced.</li>

                    </ul>
                </div>
            </div>
        </div>

        </div>
</section>

{% endblock content %}