{% load static %}
<footer class="gradient-bgcolor">
    <div class="container py-2">
        <div class="row">
            <div class="col-md-5">
                <div>
                    <h4 class="my-3 text-light">About Us</h4>
                    <p class="text-light">{{site.site_desc}}</p>
                </div>
            </div>
            <div class="col-md-3">
                <div>
                    <h4 class="my-3 text-light">Links</h4>
                    <ul class="list-unstyled" style="font-size:13px">
                        <li class="my-2" ><strong class="text-white"> > </strong><a class="text-decoration-none text-white" href="/">Home</a></li>
                        <li class="my-2" ><strong class="text-white"> > </strong><a class="text-decoration-none text-white" href="/youtube-channel">Youtube Channel</a></li>
                        <li class="my-2" ><strong class="text-white"> > </strong><a class="text-decoration-none text-white" href="/news">News</a></li>
                        <li class="my-2" ><strong class="text-white"> > </strong><a class="text-decoration-none text-white" href="/team-member">Team Member</a></li>
                        <li class="my-2" ><strong class="text-white"> > </strong><a class="text-decoration-none text-white" href="/doctors">Our Doctors</a></li>
                        <li class="my-2" ><strong class="text-white"> > </strong><a class="text-decoration-none text-white" href="/contact-us">Contact Us</a></li>
                        <li class="my-2" ><strong class="text-white"> > </strong><a class="text-decoration-none text-white" href="/history-of-hemophilia">History of Hemophilia</a></li>
                        <li class="my-2" ><strong class="text-white"> > </strong><a class="text-decoration-none text-white" href="/about-hemophilia-society">About Hemophilia Society Lucknow</a></li>
                        {% comment %} <li class="my-2" ><strong class="text-white"> > </strong><a class="text-decoration-none text-white" href="/about-us">About Us</a></li> {% endcomment %}
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div style="font-size:13px">
                    <h4 class="my-3 text-light">Contact Us</h4>
                    <address class="text-white">
                        <ion-icon name="location-outline"></ion-icon>&nbsp; {% if contact.address %}{{contact.address}}{% endif %} <br> <br>
                        <ion-icon name="call-outline"></ion-icon>&nbsp; {% if contact.contact1 %}{{contact.contact1}}{% endif %}, {% if contact.contact2 %}{{contact.contact2}}{% endif %}<br><br>
                        <ion-icon name="mail-outline"></ion-icon>&nbsp; {% if contact.email1 %}{{contact.email1}}{% endif %} <br> &nbsp;&nbsp;&nbsp;&nbsp; 
                            {% if contact.email2 %}{{contact.email2}}{% endif %}
                        
                    </address>
                    <ul class="d-flex">
                        <li class="me-2 list-unstyled">
                            <a class="text-center" target="_blank" href="{% if social.facebook %}{{social.facebook}}{% endif %}">
                                <img class="social-media-link" width="40" src="{% static 'images/icons/facebook.png' %}" alt="">
                            </a>
                        </li>
                        <li class="me-2 list-unstyled">
                            <a class="text-center" target="_blank" href="{% if social.facebook %}{{social.facebook_group}}{% endif %}">
                                <img class="social-media-link" width="40" src="{% static 'images/icons/facebook_group_icon.png' %}" alt="">
                            </a>
                        </li>
                        <li class="me-2 list-unstyled">
                            <a class="text-center" target="_blank" href="{% if social.instagram %} {{social.instagram}}{% endif %}">
                                <img class="social-media-link" width="40" src="{% static 'images/icons/instagram.png' %}" alt="">
                            </a>
                        </li>
                        <li class="me-2 list-unstyled">
                            <a class="text-center" target="_blank" href="{% if social.twitter %} {{social.twitter}}{% endif %}">
                                <img class="social-media-link" width="40" src="{% static 'images/icons/twitter.png' %}" alt="">
                            </a>
                        </li>
                        <li class="me-2 list-unstyled">
                            <a class="text-center" target="_blank" href="{% if social.youtube %} {{social.youtube}}{% endif %}" target="_blank">
                                <img width="40" src="{% static 'images/icons/youtube.png' %}" alt="">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-dark py-1 text-center" style="font-size: 14px;">
        <p class="text-white mb-0">&copy; Copyright {% now 'Y' %} : All rights reserved</p>
        <p class="text-white mb-0">Design & Developement By : <a class="text-decoration-none" target="_blank" href="https://realtechworld.in/">Real Tech World</a></p>
    </div>
</footer>