{% load static %}
<footer class="bg-secondary">
    <div class="container py-2">
        <div class="row">
            <div class="col-md-5">
                <div>
                    <h4 class="my-3 text-light">About Us</h4>
                    <p class="text-light">Hemophilia is a lifelong incurable but it is very well manageable if proper methodological information and adequate use of Anti Hemophilia Factor (AHF). </p>
                </div>
            </div>
            <div class="col-md-3">
                <div>
                    <h4 class="my-3 text-light">Links</h4>
                    <ul class="list-unstyled">
                        <li class="my-2" ><strong class="text-white"> > </strong><a class="text-decoration-none text-white" href="/">Home</a></li>
                        <li class="my-2" ><strong class="text-white"> > </strong><a class="text-decoration-none text-white" href="/youtube-channel">Youtube Channel</a></li>
                        <li class="my-2" ><strong class="text-white"> > </strong><a class="text-decoration-none text-white" href="/news">News</a></li>
                        <li class="my-2" ><strong class="text-white"> > </strong><a class="text-decoration-none text-white" href="/meet-our-team">Our Team</a></li>
                        <li class="my-2" ><strong class="text-white"> > </strong><a class="text-decoration-none text-white" href="/doctors">Our Doctors</a></li>
                        <li class="my-2" ><strong class="text-white"> > </strong><a class="text-decoration-none text-white" href="/contact-us">Contact Us</a></li>
                        <li class="my-2" ><strong class="text-white"> > </strong><a class="text-decoration-none text-white" href="/about-us">About Us</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div>
                    <h4 class="my-3 text-light">Contact Us</h4>
                    <address class="text-white">
                        <ion-icon name="location-outline"></ion-icon>&nbsp; MD-30, Sector – D, LDA  Colony Kanpur &nbsp;&nbsp;&nbsp;&nbsp; Road Lucknow – 226012. <br> <br>
                        <ion-icon name="call-outline"></ion-icon>&nbsp; +91 9415033555,  0522 4311355 <br><br>
                        <ion-icon name="mail-outline"></ion-icon>&nbsp; hemophilialucknow2020@gmail.com <br> &nbsp;&nbsp;&nbsp;&nbsp; 
                            vinaylucknow@gmail.com 
                        
                    </address>
                    <ul class="d-flex">
                        <li class="me-2 list-unstyled"><a class="text-center" href="#"><img class="social-media-link" width="40" src="{% static 'images/icons/facebook.png' %}" alt=""></a></li>
                        <li class="me-2 list-unstyled"><a class="text-center" href="#"><img class="social-media-link" width="40" src="{% static 'images/icons/instagram.png' %}" alt=""></a></li>
                        <li class="me-2 list-unstyled"><a class="text-center" href="#"><img class="social-media-link" width="40" src="{% static 'images/icons/twitter.png' %}" alt=""></a></li>
                        <li class="me-2 list-unstyled"><a class="text-center" href="https://youtube.com/c/HemophiliaLucknow" target="_blank"><img class="social-media-link" width="40" src="{% static 'images/icons/youtube.png' %}" alt=""></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="bg-dark pb-1">
    <p class="text-center text-white p-3">&copy; Copyright {% now 'Y' %}</p>
</div>