{% load static %}
<header class="w-100">
   <div class="d-flex justify-content-center align-items-center py-3">
      <img class="me-2" height="75" src="{% static 'images/icons/logo.png' %}" alt="Hemophilia Society Lucknow">
      <a class="text-decoration-none text-dark" href="/"><h2>{{site_name}}</h2></a> 
   </div>
</header>
<nav class="navbar navbar-expand-lg navbar-light sticky-top gradient-bgcolor">
    <div class="container">   
      <a class="text-decoration-none me-3 text-white home_navbar" aria-current="page" href="/">Home</a>   
        <button class="navbar_toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <ion-icon name="menu-outline" style="color:#ddd !important; font-size: 40px !important;"></ion-icon>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item me-2">
            <a class="nav-link nav_btn " href="/news">News</a>
          </li>
          <li class="nav-item me-2">
            <a class="nav-link nav_btn " href="/precaution">Precaution</a>
          </li>
          <li class="nav-item me-2">
            <a class="nav-link nav_btn " href="/team-member">Member</a>
          </li>
          <li class="nav-item me-2">
            <a class="nav-link nav_btn " href="/doctors">Doctor</a>
          </li>
          <li class="nav-item me-2">
            <a class="nav-link nav_btn " href="/youtube-channel">Youtube Video</a>
          </li>
          <li class="nav-item me-2">
            <a class="nav-link nav_btn " href="/about-hemophilia-society">Hemophilia Society Lucknow</a>
          </li>
          {% comment %} <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
            </ul>
          </li> {% endcomment %}
        </ul>
        {% comment %} <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> {% endcomment %}
      </div>
    </div>
</nav>

