{% load static %}
<!--clock-->
{% comment %} <div class="d-flex justify-content-end">
  <p class="mb-0 me-3" id="clock"></p>
  <script>
    function currentTime() {
      var date = new Date(); /* creating object of Date class */
      var hour = date.getHours();
      var min = date.getMinutes();
      var sec = date.getSeconds();
      var midday = "AM";
      midday = (hour >= 12) ? "PM" : "AM"; /* assigning AM/PM */
      hour = (hour == 0) ? 12 : ((hour > 12) ? (hour - 12): hour); /* assigning hour in 12-hour format */
      hour = updateTime(hour);
      min = updateTime(min);
      sec = updateTime(sec);
      document.getElementById("clock").innerText = hour + " : " + min + " : " + sec + " " + midday; /* adding time to the div */
        var t = setTimeout(currentTime, 1000); /* setting timer */
    }
    function updateTime(k) { /* appending 0 before time elements if less than 10 */
      if (k < 10) {
        return "0" + k;
      }
      else {
        return k;
      }
    }
    currentTime();
  </script>
</div> {% endcomment %}

<!--Logo-->
<header class="w-100 bg-dark">
   <div class="d-flex justify-content-center align-items-center pb-3 pt-3">
      <img class="me-4" height="170" src="{% static 'images/icons/logo.png' %}" alt="Hemophilia Society Lucknow">
      <a class="text-decoration-none text-white" href="/">
        <h2 class="brand-header">Hemophilia Society Lucknow <br>
        <span>हीमोफीलिया सोसायटी (लखनऊ)</span> </h2>
      </a> 
    </div>
</header>

<!--navigation-->
<nav class="navbar navbar-expand-lg navbar-light sticky-top gradient-bgcolor">
    <div class="container-fluid">   
      <a class="text-decoration-none me-3 text-white home_navbar" aria-current="page" href="/">Home</a>   
        <button class="navbar_toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <ion-icon name="menu-outline" style="color:#ddd !important; font-size: 40px !important;"></ion-icon>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
        <ul class="navbar-nav mb-2 mb-lg-0" style="font-size:14px">
          {% for cat in post_cat %}
            {% if cat.name == 'News' %}
              <li class="nav-item me-2">
                <a class="nav-link nav_btn " href="{% url 'post' cat_slug='news' %}">News<br><span>न्यूज़</span></a>
              </li>
            {% elif cat.name == 'Precaution' %}
              <li class="nav-item me-2">
                <a class="nav-link nav_btn " href="{% url 'post' cat_slug='precaution' %}">Precaution<br><span>सावधानिया </span></a>
              </li>
            {% elif cat.name == 'Article' %}
              <li class="nav-item me-2">
                <a class="nav-link nav_btn " href="{% url 'post' cat_slug='article' %}">Article<br><span>लेख</span></a>
              </li>
            {% endif %}
          {% endfor %}
          <li class="nav-item me-2">
            <a class="nav-link nav_btn " href="/team-member">Team Member<br><span>टीम सदश्य</span></a>
          </li>
          <li class="nav-item me-2">
            <a class="nav-link nav_btn " href="/doctors">Doctor<br><span>डॉक्टर</span></a>
          </li>
          {% comment %} <li class="nav-item me-2">
            <a class="nav-link nav_btn " href="/youtube-channel">Youtube Video<br><span>यूट्यूब वीडियो</span></a>
          </li> {% endcomment %}
          <li class="nav-item me-2">
            <a class="nav-link nav_btn " href="/hemophilia-treatment-center">Hemophilia Treatment Center<br><span>हीमोफीलिया ट्रीटमेंट सेन्टर </span></a>
          </li>
          <li class="nav-item me-2">
            <a class="nav-link nav_btn " href="/about-hemophilia-society">Hemophilia Society Lucknow<br><span>हीमोफीलिया सोसायटी (लखनऊ)</span></a>
          </li>
          <li class="nav-item me-2">
            <a class="nav-link nav_btn " href="/hemophilia-gallery">Gallery<br><span>गैलरी</span></a>
          </li>
          <li class="nav-item me-2">
            <a class="nav-link nav_btn " href="/our-publications">Our Publication<br><span>हमारा प्रकाशन </span></a>
          </li>
          {% comment %} <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
            </ul>
          </li> {% endcomment %}
        </ul>
        {% comment %} <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> {% endcomment %}
      </div>
    </div>
</nav>

