{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-secondary sticky-top">
    <div class="container">
      <a class="navbar-brand text-light" href="/">Hemophilia Society Lucknow</a>
      <button style="border:1px solid #ddd !important;" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <ion-icon name="menu-outline" style="color:#ddd !important; font-size: 30px !important;"></ion-icon>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-auto">
          <li class="nav-item me-2">
            <a class="nav-link nav_btn active text-uppercase" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item me-2">
            <a class="nav-link nav_btn text-uppercase " href="/news">News</a>
          </li>
          <li class="nav-item me-2">
            <a class="nav-link nav_btn text-uppercase " href="/precosans">Precosan</a>
          </li>
          <li class="nav-item me-2">
            <a class="nav-link nav_btn text-uppercase " href="/meet-our-team">Member</a>
          </li>
          <li class="nav-item me-2">
            <a class="nav-link nav_btn text-uppercase " href="/doctors">Doctor</a>
          </li>
          <li class="nav-item me-2">
            <a class="nav-link nav_btn text-uppercase " href="/youtube-channel">Youtube Video</a>
          </li>
          {% comment %} <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
            </ul>
          </li> {% endcomment %}
        </ul>
        {% comment %} <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> {% endcomment %}
      </div>
    </div>
  </nav>

  <!-- carousel -->
{% if banner_data %}

  <div id="header-carousel" class="owl-carousel owl-theme">
    {% for data in banner_data %}
    <div class="item" style="height:100%">
      <img  src="{{data.banner_img.url}}" class="d-block w-100" alt="...">
    </div>
    {% endfor %}
  </div>

{% endif %}