{% extends 'base.html' %}
{% load static %}
{% block title %} Hemophilia Gallery | {{site_name}}{% endblock %}
{% block content %}

<!--Section 2 hemophilia galary-->
<section class="mt-5">
    <div class="container">
        <div style="margin-top:60px">
            <span class="gradient-bgcolor text-white px-3 p-1">Hemophilia Gallery</span>
            <p class="w-100 border_bottom"></p>
        </div>
        <div class="py-3 gy-2">
            {% for data in objects %}
            <div class="col-md-12">
                <h4 class="bg-warning p-1" style="font-family:auto;">{{data.title}} <span style="font-size:14px">{{data.created_date|date:"d M Y"}}</span></h4>
                <div class="overflow-hidden bg-white shadow-sm p-1">
                    <div class="d-flex flex-wrap" style="grid-gap:10px"><!--gallery-images-->
                        <figure class="mb-0">
                            <a target="blank" href="{% if data.image %}{{data.image.url}}{% endif %}">
                                <img class="activity-gallery" src="{% if data.image %}{{data.image.url}}{% endif %}" alt="hemophilia society lucknow" loading="lazy" />
                            </a>
                        </figure>
                        {% for m in multiple_image %}
                            {% if data.id == m.activity_id_id %}
                                <figure class="mb-0">
                                    <a target="blank" href="{% if m.image %}{{m.image.url}}{% endif %}"><img class="activity-gallery" src="{% if m.image %}{{m.image.url}}{% endif %}" alt="" loading="lazy" /></a>
                                </figure>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div><br>
            {% endfor %}
        </div>
        <!--Pagination-->
        {% include 'pagination.html' %}
    </div>
</section>

{% endblock content %}