{% extends 'base.html' %}
{% load static %}
{% load embed_video_tags %}
{% block title %}{{site_name}}{% endblock %}

{% block content %}
<!-- carousel -->
{% include 'slider.html' %}

<!--section 1-->
<section class="bg-light py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    {% if about.image %}
                    <img class="w-100" src="{{about.image.url}}" alt="">
                    {% endif %}
                </div>
            </div>
            <div class="col-md-6 border p-4">
                <div style="text-align:justify">
                    <div>
                        {% if about.hindi %}
                        <div class="font_family">
                            {{about.hindi|safe|truncatechars:700}}
                        </div>
                        {% elif about.english %}
                        <div>
                            {{about.english|safe|truncatechars:700}}
                        </div style="font-family:auto;font-size: 20px;">
                        {% endif %}
                        <a href="/history-of-hemophilia">read more</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<!-- hemopholia news -->
<section class="py-4">
    <div class="container">
        {% if hemos_news %}
        <h1 style="font-family: Merriweather-Bold";>Recent News</h1>
        <div class="row">
            {% for data in hemos_news %}
            <div class="col-sm-6 col-md-3">
                <div class="card">
                    <a class="text-decoration-none" href="{% url 'news-detail' title=data.slug %}">
                        <img class="card-img-top" height="200" src="{{data.news_image.url}}" alt="{{data.news_title}}">
                        <div class="card-body">
                            <p class="card-text text-dark">{{data.news_title | truncatechars:74}} <span class="text-primary">&nbsp;read more</span> </p>
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</section>

<!-- hemopholia precoson -->
<section class="py-4">
    <div class="container">
        {% if presosan %}
        <h1 style="font-family: Merriweather-Bold";>Recent Precosan</h1>
        <div class="row">
            {% for data in presosan %}
            <div class="col-sm-6 col-md-3">
                <div class="card">
                    <a class="text-decoration-none" href="{% url 'precosans-detail' title=data.slug %}">
                        <img class="card-img-top" height="200" src="{{data.pr_image.url}}" alt="{{data.title}}">
                        <div class="card-body">
                            <p class="card-text text-dark">{{data.title | truncatechars:74}} <span class="text-primary">&nbsp;read more</span></span> </p>
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</section>

<!--start Caption-->
{% include 'caption-team.html' %}
<!--end Caption-->


{% endblock content %}