{% extends 'base.html' %}
{% load static %}

{% block content %}

<section>
    <div class="container  py-2">
        <div class="row">
            <div class="col-md-9">
                {% if news_detail %}
                <div class="mt-4">
                    <h2 class="mb-4" style="font-family: serif;"><strong>{{news_detail.news_title}}</strong></h2>
                    <p class="text-dark">{{news_detail.sub_title | safe }}</p>
                    <p>{{news_detail.news_category}}</p>
                    <img class="w-100" src="{{news_detail.news_image.url}}" alt="{{news_detail.news_title}}">
                    <p class="mt-2">
                        <span>{{news_detail.created_date | date}}</span> <span class="text-secondary">Post by: {{news_detail.post_by}}</span>
                    </p>
                    <div class="mt-4">
                        {{news_detail.news_description | safe}}
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="col-md-3">
                <div class="mt-4">
                    <h1 style="font-family: Merriweather-Bold";>Popular News</h1>
                    {% for data in popular_news %}
                    <div>
                        <a class="text-decoration-none text-dark news_url" href="{% url 'news-detail' title=data.slug %}">
                        <div class="d-flex">
                            <img class="mt-2 me-2" width="70" height="70" src="{{data.news_image.url}}" alt="{{data.news_title}}">
                            <p>{{data.news_title | truncatechars:90}}</p>
                        </div>
                        </a>
                    </div><hr>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

</section>

{% endblock content %}