{% extends 'base.html' %}
{% load static %}

{% block content %}

<section>
    <div class="container  py-2">
        <div class="row">

            {% if hemo_news %}
            <div class="col-md-9">
                <h1 style="font-family: Merriweather-Bold">RECENT NEWS</h1><hr>
                {% for data in hemo_news %}
                <div>
                    <a class="text-decoration-none" href="{% url 'news-detail' title=data.slug %}">
                      <div class="row">
                        <div class="col-md-2">
                          <img class="w-100" src="{{data.news_image.url}}" alt="{{data.news_title}}">
                        </div>
                        <div class="col-md-10">
                          {{data.news_title}}
                          <div class="text-dark">{{data.sub_title | safe | truncatechars:100}}</div>
                        </div>
                      </div>
                    </a>
                </div><hr>
                {% endfor %}
            </div>

            <div class="col-md-3">
                <h2 style="font-family: Merriweather-Bold";>POPULAR NEWS</h2>
                {% for data in popular_news %}
                <div>
                    <a class="text-decoration-none text-dark news_url" href="{% url 'news-detail' title=data.slug %}">
                      <div class="d-flex">
                        <img class="mt-2 me-2" width="70" height="70" src="{{data.news_image.url}}" alt="{{data.news_title}}">
                        <p>{{data.news_title | truncatechars:90}}</p>
                      </div>
                    </a>
                </div><hr>
                {% endfor %}
            </div>
            {% else %}
                    <h2 class="text-center py-5">Not found any news</h2>
            {% endif %}
        </div>
<!-- pagination -->
        <nav class="text-center mt-3" aria-label="...">
            <ul class="pagination">

                {% if hemo_news.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="/news/?page=1" tabindex="-1" aria-disabled="true">First</a>
                </li>
              <li class="page-item">
                <a class="page-link" href="/news/?page={{hemo_news.previous_page_number}}" tabindex="-1" >Previous</a>
              </li>
              {% endif %}

              {% for n in total_page_list %}
              <li class="page-item"><a class="page-link" href="/news/?page={{n}}">{{n}}</a></li>
              {% endfor %}

              {% if hemo_news.has_next %}
              <li class="page-item">
                <a class="page-link" href="/news/?page={{hemo_news.next_page_number}}">Next</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="/news/?page={{last_page}}">Last</a>
              </li>
              {% endif %}

            </ul>
          </nav>
    </div>
    
</section>

{% endblock content %}