{% extends 'base.html' %}
{% load static %}

{% block content %}

<section>
    <div class="container  py-2">
        <div class="row">
            <div class="col-md-9">
                {% if precosan_detail %}
                <div class="mt-4">
                    <h2 class="mb-4" style="font-family: serif;"><strong>{{precosan_detail.title}}</strong></h2>
                    <p>{{precosan_detail.category}}</p>
                
                    <img class="w-100" src="{{precosan_detail.pr_image.url}}" alt="{{precosan_detail.title}}">
                    
                    <p class="mt-2">
                        <span>{{precosan_detail.created_date | date}}</span> <span class="text-secondary">Post by: {{precosan_detail.post_by}}</span>
                    </p>
                    
                    <div class="mt-4">
                        {{precosan_detail.description | safe}}
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="col-md-3">
                <div class="mt-4">
                    <h1 style="font-family: Merriweather-Bold";>Recent News</h1>
                    {% for data in popular_precosan %}
                    <div>
                        <a class="text-decoration-none text-dark news_url" href="{% url 'precosans-detail' title=data.slug %}">
                          <div class="d-flex">
                            <img class="mt-2 me-2" width="70" height="70" src="{{data.pr_image.url}}" alt="{{data.title}}">
                            <p>{{data.title | truncatechars:90}}</p>
                          </div>
                        </a>
                    </div><hr>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

</section>

{% endblock content %}