{% load static %}
<!--Section 2 Desktop view-->
<section class="py-4 d-none d-sm-block d-sm-none d-md-block">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-lg-6">
                <div style="margin-top:100px" data-aos="flip-left">
                    <div class="border p-3">
                        <h2>Lorem ipsum dolor sit, Minus, dignissimos!</h2>
                        <p class="mt-5 fs-6 justify-text">
                           Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus ea vero eligendi consectetur ipsa ratione, enim sint labore. Minima ducimus neque delectus laborum aliquam illo doloribus minus autem? Enim, saepe! Voluptatum provident dignissimos esse doloremque dolor quisquam nostrum maxime expedita, tempora modi, obcaecati laborum cumque dolorum reprehenderit quasi sapiente <assumenda class=""></assumenda>
                        </p>
                        <a class="btn btn-primary mt-5" href="/meet-our-team">Meet our Team</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6">
                <figure data-aos="flip-right">
                    <img class="w-100" src="{% static 'images/Our-Team.png' %}" alt="hemophilia">
                </figure>
            </div>
        </div>
    </div>
</section>

<!--Section 2 Mobile view-->
<section class="py-4 d-md-none d-lg-block d-lg-none d-xl-block d-xl-none">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-lg-6">
                <figure>
                    <img class="w-100" src="{% static 'images/Our-Team.png' %}" alt="hemophilia">
                </figure>
            </div>
            <div class="col-md-6 col-lg-6">
                <div style="margin-top:100px">
                    <div class="border p-3">
                        <h2>Lorem ipsum dolor sit, Minus, dignissimos!</h2>
                        <p class="mt-5 fs-6 justify-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero optio cum aspernatur, repudiandae ab at illo impedit, commodi unde excepturi eligendi facilis ut nesciunt, consectetur expedita exercitationem alias maxime amet ad quidem odit. Tempora, ducimus dolorem! Reiciendis cupiditate ab consequatur maiores quod dolorem totam modi, nisi a debitis rerum numquam!
                        </p>
                        <a class="btn btn-primary mt-5" href="/meet-our-team">Meet our Team</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>