{% extends 'base.html' %}
{% load static %}
{% block title %}Doctors | {{site_name}}{% endblock %}
{% block content %}

<section>
    {% if hemo_doctor %}
    <div class="container  mb-4">
        <h1 class="text-uppercase text-center py-5 bottom_border"><span>meet our doctors</span></h1>
        <div class="row gy-3">
            {% for data in hemo_doctor %}
            <div class="col-sm-4 col-md-3 col-lg-3 col-xl-3">
                <div class="card shadow h-100 gradient-bgcolor">
                    <div class="text-center">
                        <img class="w-100" src="{{data.image.url}}" alt="{{data.name}}" loading="lazy" />
                    </div>
                    <div class="hemo_detail">
                        <p class="text-info"><strong class="text-uppercase">{{data.name}}</strong></p>
                        <p class="text-warning">{{data.department}}</p>
                        <p class="text-white" style="font-size: 12px;">+91{{data.mobile}}</p>
                    </div>
                    <div class="text-center mb-3">
                        <a href="{% url 'doctor-detail' slug=data.slug %}" class="text-decoration-none px-4 py-2 border text-white gradient-bgcolor">View More</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
            <h2 class="text-center py-5">Not found any doctor</h2>
    </div>
    
    {% endif %}

</section>

{% endblock content %}