{% extends 'base.html' %}
{% load static %}
{% load embed_video_tags %}
{% block title %}{{site_name}}{% endblock %}

{% block content %}
<!-- carousel -->
{% include 'app/slider.html' %}

<!--section 1-->
<section class="bg-light mt-3 py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    {% if about.image %}
                    <img class="w-100" height="420" src="{{about.image.url}}" alt="History of hemophilia" loading="lazy" />
                    {% endif %}
                </div>
            </div>
            <div class="col-md-6 border p-4">
                <div style="text-align:justify">
                    <div>
                        {% if about.hindi %}
                        <div class="font_family">
                            {{about.hindi|safe|truncatechars:700}}
                        </div>
                        {% elif about.english %}
                        <div>
                            {{about.english|safe|truncatechars:700}}
                        </div style="font-family:auto;font-size: 20px;">
                        {% endif %}
                        <a class="btn text-white gradient-bgcolor" href="/history-of-hemophilia">read more</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<!--Section 2 hemophilia galary-->
<section class="mt-5">
    <div class="container">
        <div style="margin-top:60px">
            <span class="gradient-bgcolor text-white px-3 p-1" >Hemophilia Gallery</span>
            <p class="w-100 border_bottom"></p>
        </div>
        <div class="row py-3 gy-2">
            {% for data in activity_post %}
            <div class="col-md-6">
                <div class="overflow-hidden bg-white shadow-sm p-1">
                    <h4 style="font-family: auto;">{{data.title}} <span style="font-size:14px">{{data.created_date|date:"d M Y"}}</span></h4>
                    <div class=""><!--gallery-images-->
                        <figure class="mb-0">
                            <img class="w-100" src="{% if data.image %}{{data.image.url}}{% endif %}" alt="hemophilia society lucknow" loading="lazy" />
                        </figure>
                    </div>
                    <div class="d-flex flex-wrap gap-3">
                        {% for m in multiple_image %}
                        {% if data.id == m.activity_id_id %}
                        <figure class="mb-0">
                            <a target="blank" href="{% if m.image %}{{m.image.url}}{% endif %}">
                                <img height="100" class="activity-gallery" src="{% if m.image %}{{m.image.url}}{% endif %}" alt="" loading="lazy" />
                            </a>
                        </figure>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="text-center">
        <a href="/hemophilia-gallery" class="gradient-bgcolor btn text-white">Load More</a>
    </div>
</section>

<!-- Post -->
<section class="mt-5">
    <div class="container">
        {% if category and posts %}
            {% for cat in category %}
                <div style="margin-top:60px">
                    <span class="bg-dark text-white p-1 px-3">{{cat.name}}</span>
                    <p class="w-100" style="border-bottom:2px solid #000"></p>
                </div>
                <div class="row gy-3 mt-1">
                    {% for post in posts %}
                    {% if cat.id == post.category_id %}                           
                        <div class="col-md-6 col-lg-3 col-xl-3">
                            <div class="card p-1 h-100">
                                <a class="text-dark text-decoration-none" href="{% url 'post-detail' title=post.slug %}">
                                    <div>
                                        <img class="w-100" src="{% if post.image %}{{post.image.url}}{% else %}{% static 'images/hemophilia/image-not-available.png' %}{% endif %}" alt="{{post.title}}" loading="lazy" />
                                    </div>
                                    <div class="">
                                        <h2 class="mb-0 fs-5">{{post.title}}</h2>
                                        <p class="card_text mb-0" style="font-size:13px">{{post.sub_title|truncatechars:70}}</p>
                                        <span class="text-muted" style="font-size:12px">{{post.created_date|date:"d M Y"}}</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                </div>
            {% endfor %}
        {% endif %}
    </div>
</section>

<!--Contact-us-->
{% include 'contact/contact-input-field.html' %}

{% endblock content %}