{% extends 'base.html' %}
{% load static %}
{% block title %}Team Member| {{site_name}}{% endblock %}
{% block content %}

<section>
    {% if team_member %}
    <div class="container  mb-4">
        <h1 class="text-uppercase text-center py-5 bottom_border"><span>meet our team</span></h1>
        <div class="row">
            {% for data in team_member %}
            <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
                <div class="card shadow-sm h-100 gradient-bgcolor">
                    <div class="text-center">
                        {% if data.image %}
                        <img class="w-100 card_image" src="{{data.image.url}}" alt="{{data.name}}" loading="lazy" />
                        {% endif %}
                    </div>
                    <div class="hemo_detail">
                        <p class="text-light"><span class="text-uppercase">{{data.name}}</span></p>
                        <p class="text-uppercase text-warning">{{data.position}}</p>
                    </div>
                    <div class="text-center mb-3">
                        <a href="{% url 'team-member-detail' slug=data.slug %}" class="text-decoration-none px-4 py-2 border text-white gradient-bgcolor">View More</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% else %}
        <h2 class="text-center py-5">Not found any team record</h2>
    {% endif %}

    

</section>

{% endblock content %}