{% extends 'base.html' %}
{% load static %}
{% block title %}Team Member | {{site_name}}{% endblock %}
{% block content %}

<section>
    {% if team_detail %}
    <div class="container my-4">
        <div class="row gy-4">
            <div class="col-md-4">
                <div>
                    {% if team_detail.image %}
                    <img class="w-100" src="{{team_detail.image.url}}" alt="hemophilia member" loading="lazy" />
                    {% endif %}
                </div>
            </div>
            <div class="col-md-8">
                <div>
                    <p><strong>Name:</strong> <span>{{team_detail.name}}</span></p>
                    <p><strong>Position:</strong> {{team_detail.position}}</p>
                    <p>{{team_detail.description|safe}}</p>
                </div>
            </div>
        </div>
    </div>
    
    {% endif %}

</section>

{% endblock content %}