{% extends 'base.html' %}
{% load static %}
{% load embed_video_tags %}
{% block title %}Youtube Videos | {{site_name}}{% endblock %}
{% block content %}

<section>
    <div class="container py-5">
        <div class="row gy-4">
            <h2 class="text-capitalize text-center">For Videos Join Our Youtube Channel <a class="btn btn-danger" href="https://youtube.com/c/HemophiliaLucknow" target="blank">Join Now</a></h2>
            {% for data in objects %}
            <div class="col-sm-6 col-md-4 col-lg-4">
              <a class="text-decoration-none" href="{% url 'youtube' youtube_slug=data.slug %}">
                <div class="card shadow-sm p-1 h-100">
                    {% video data.youtube_link '420x315' %}
                    <p>{{data.youtube_title | truncatechars:70}}</p>
                </div>
              </a>
            </div>
            {% endfor %}
        </div>

        <!-- pagination -->
        <div>
          {% include 'pagination.html' %}
        </div>
                   
    </div>
</section>

{% endblock content %}