{% extends 'base.html' %}
{% load static %}
{% block title %}{{post_detail.title}} | {{site_name}}{% endblock %}
{% block content %}

<section>
    <div class="container  py-2">
        <div class="row">
            <div class="col-md-9">
                {% if post_detail %}
                <div class="mt-4">
                    <h2 class="mb-4"><strong>{{post_detail.title}}</strong> <img height="50" src="{% static 'images/hemophilia/CHILD-HEMO.jpg' %}" alt=""></h2>
                    {% comment %} <p class="text-dark">{{post_detail.sub_title | safe }}</p> {% endcomment %}
                    <div class="d-flex justify-content-between">
                    </div>
                    {% if post_detail.image %}
                    <img class="w-100" src="{{post_detail.image.url}}" alt="{{post_detail.title}}">
                    {% endif %}
                    <!--Button-->
                    <div class="d-flex justify-content-between">
                        <p class="mt-2">
                            <span class="text-secondary">{{post_detail.category}}</span> |
                            <span class="text-secondary">{{post_detail.created_date | date}}</span> |
                            <span class="text-secondary">Post by: {{post_detail.post_by}}</span>
                        </p>
                        {% if post_detail.english_description and post_detail.hindi_description %}
                        <p class="mt-2">
                            <button class="btn btn-outline-primary" id="btn_english">English</button>
                            <button class="btn btn-outline-primary" id="btn_hindi">Hindi</button>
                        </p>
                        {% endif %}
                    </div>

                    <!--discription-->
                    <!--Default content-->
                    <div id="default_content">
                        {% if post_detail.english_description %}
                        <div class="mt-1">
                            {{post_detail.english_description | safe}}
                        </div>
                        {% elif post_detail.hindi_description %}
                            <div class="mt-1" style="font-family: monospace;">
                                {{post_detail.hindi_description | safe}}
                            </div>
                        {% endif %}
                    </div>

                    <!--Show after choose language-->
                    <div class="mt-1" id="english" style="display:none">
                        {{post_detail.english_description | safe}}
                    </div>
                    <div class="mt-1" id="hindi" style="display:none;font-family: monospace;">
                        {{post_detail.hindi_description | safe}}
                    </div>
                </div>
                {% endif %}
            </div>
            <!--Sidebar-->
            <div class="col-md-3">
                {% include 'posts/right_sidebar.html' %}
            </div>
        </div>
    </div>

</section>

{% endblock content %}