{% extends 'base.html' %}
{% load static %}
{% block title %}Precosons | {{site_name}}{% endblock %}
{% block content %}

<section>
    <div class="container  py-2">
        <div class="row">
          
            {% if objects %}
            <div class="col-md-9">
                <h1 style="font-family: Merriweather-Bold">RECENT NEWS</h1><hr>
                {% for data in objects %}
                <div>
                      <div class="row">
                        <div class="col-md-2">
                          <a class="text-decoration-none" href="{% url 'precosans-detail' title=data.slug %}">
                          <img class="w-100" src="{{data.pr_image.url}}" alt="{{data.title}}">
                        </a>
                        </div>
                        <div class="col-md-10">
                          <a class="text-decoration-none" href="{% url 'precosans-detail' title=data.slug %}">
                            {{data.title}}
                          </a>
                          <div>{{data.sub_title | safe | truncatechars:200}}</div>
                          
                        </div>
                      </div>
                </div><hr>
                {% endfor %}

                  <!-- pagination -->
                  <div>
                    {% include 'pagination.html' %}
                  </div>
            </div>

            <div class="col-md-3">
              {% include 'posts/right_sidebar.html' %}
            </div>
            {% else %}
            <h2 class="text-center py-5">Not found any precosan for patient</h2>
            {% endif %}
        </div>
    </div>
    
</section>

{% endblock content %}