{% extends 'base.html' %}
{% load static %}
{% block title %}{{precosan_detail.title}} | {{site_name}}{% endblock %}
{% block content %}

<section>
    <div class="container  py-2">
        <div class="row">
            <div class="col-md-9">
                {% if precosan_detail %}
                <div class="mt-4">
                    <h2 class="mb-4"><strong>{{precosan_detail.title}}</strong></h2>
                    <div>
                        <p>{{precosan_detail.category}}</p>
                    </div>
                
                    <img class="w-100" src="{{precosan_detail.pr_image.url}}" alt="{{precosan_detail.title}}">
                    
                    <div class="d-flex justify-content-between">
                        <p class="mt-2">
                            <span>{{precosan_detail.created_date | date}}</span> 
                            <span class="text-secondary">Post by: {{precosan_detail.post_by}}</span>
                        </p>
                        {% if precosan_detail.english_description and precosan_detail.hindi_description %}
                        <p class="mt-2">
                            <button class="btn btn-outline-primary" id="btn_english">English</button>
                            <button class="btn btn-outline-primary" id="btn_hindi">Hindi</button>
                        </p>
                        {% endif %}
                    </div>

                    <!-- start discription  -->
                    <!--Default content-->
                    <div id="default_content">
                        {% if precosan_detail.english_description %}
                        <div class="mt-1">
                            {{precosan_detail.english_description | safe}}
                        </div>
                        {% elif precosan_detail.hindi_description %}
                            <div class="mt-1">
                                {{precosan_detail.hindi_description | safe}}
                            </div>
                        {% endif %}
                    </div>

                    <!--Show after choose language-->
                    <div class="mt-1" id="english" style="display:none">
                        {{precosan_detail.english_description | safe}}
                    </div>
                    <div class="mt-1" id="hindi" style="display:none">
                        {{precosan_detail.hindi_description | safe}}
                    </div>
            <!-- end discription  -->
                </div>
                {% endif %}
            </div>
            <!--Sidebar-->
            <div class="col-md-3">
                {% include 'posts/right_sidebar.html' %}
            </div>
        </div>
    </div>

</section>

{% endblock content %}