
{% if popular_post %}
  <div class="mt-4">
    <div>
      <span class="gradient-bgcolor text-white p-1">Recent Posts</span>
      <p class="w-100 border_bottom"></p>
    </div>
    {% for data in popular_post %}
    <div>
      <div class="d-flex rtw-border-bottom py-2">
        <i class="fa-sharp fa-solid fa-angle-right me-2 mt-1" style="font-size:12px"></i>
        <a class="text-decoration-none text-dark" style="font-size:14px" href="{% url 'post-detail' title=data.slug %}">{{data.title}}</a>
    </div>
  </div>
    {% endfor %}
  </div>
{% endif %}